@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;1,300&family=Space+Mono&display=swap");
:root {
  --bitersweet: #dd4242;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  line-height: 2;
  font-weight: 300;
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.note {
  width: 80vw;
  margin: 3rem auto;
  padding: 0 1.5rem;
  background: white;
  border-radius: 2rem;
}

.note h2 {
  font-size: 2.6rem;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.note-input h3 {
  color: #dd4242;
}
.note-wrapper {
  margin: 0.7rem 0;
  padding: 0.5rem 0;
}
#note-title,
#note-content {
  width: 100%;
  border: 2px solid black;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 20px;
}

#note-content {
  resize: none;
}

#note-title:focus,
#note-content:focus {
  color: rgb(11, 11, 15);
}

.btn1 {
  background: rgb(10, 228, 94);
  border: 2px sold;
  padding: 0.55rem 0.1rem;
  width: 120px;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn2 {
  background: rgb(228, 17, 10);
  border: 2px solid;
  padding: 0.55rem 0.1rem;
  width: 120px;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.note-list {
width: 80vw;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 2rem;
}

.note-item {
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
  margin: 1rem;
  padding: 1.5rem;
  border: 2px;
  box-shadow: 0 0 7px 0 black;
}

.note-item h3 {
  margin-bottom: 1rem;
}

.note-item p {
  padding-bottom: 0.8rem;
}

.note-item.btn2 {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .note-list {
    display: grid;
  }
}
.warning {
  border-color: rgba(255, 111, 89, 0.8) !important;
}
